name: Deploy to WordPress.org

on:
    push:
        tags:
            - "*"

jobs:
    tag:
        name: New tag
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master

            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: '22'

            - name: Install dependencies
              run: npm install

            - name: Prepare release build
              run: npm run package

            - name: WordPress Plugin Deploy
              uses: 10up/action-wordpress-plugin-deploy@master
              env:
                  BUILD_DIR: ./build/analogwp-site-notes
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}